{{#if isInPath}}
    </ul>
    <ul class="current">
{{/if}}
{{#ifCond reflection.flags.isExtension "||" reflection.flags.isStorage}}
    {{#if isInPath}}
        <li class="current {{cssClasses}}">
            <a href="{{relativeURL url}}" class="tsd-kind-icon">{{{wbr title}}}</a>
            {{#if children}}
                <ul>
                    {{#each children}}
                        {{> toc}}
                    {{/each}}
                </ul>
            {{/if}}
        </li>
    {{/if}}
{{else}}
    <li class="{{#if isInPath}}current{{/if}} {{cssClasses}}">
        <a href="{{relativeURL url}}" class="tsd-kind-icon">{{{wbr title}}}</a>
        {{#if children}}
            <ul>
                {{#each children}}
                    {{> toc}}
                {{/each}}
            </ul>
        {{/if}}
    </li>
{{/ifCond}}
{{#if isInPath}}
    </ul>
    <ul class="after-current">
{{/if}}
